@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import "reset.css";

body {
    height: 100vh;
    margin: 0;
    font-family: 'Lora', serif;

}
h1 {
    text-align: center;
    margin-top: 30px;
    font-size:40px; 
}  

.main-box {
    display: flex;
    height: 100vh;
    justify-content:center;
}
main {
    position: center;
    height: 800px;
    width: 400px;
    display: flex;
    margin: 0px 200px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.colors__column {
    background-color: #ff6347;
    height: 300px;
    width: 150px;
    position: relative;
}

.colors__name-box {
    background-color: white;
    height: 100px;
    width: 150px;
    position: absolute;
    top: 15px; 
}
.colors__name, 
.colors__code{
    display: block;
    margin: 20px 0px 20px 5px; 
    font-size: 20px;
}
.colors__code {
    font-size: 15px;
}



.colors__column:nth-child(2) {
    background-color: teal;
}
.colors__column:nth-child(3),
.colors__column:last-child {
    background-color: burlywood;
    margin-top: -150px;  
    
}
.colors__column:last-child {
    background-color: thistle;
}